.flex{
    display: flex;
    align-items: center;
}

.transition{
    transition: all 0.5s ease ;
}

.box{
    position: absolute;
    left: 25px;
    font-size: 18px;
    font-weight: 500;
    i{
        color: $main-color;
        margin-right: 10px;

    }
}